
<my-component
  data='[{"value": 2, "tag": "Netflix"}, {"value": 5, "tag": "Comida"}, {"value": 8, "tag": "Alquiler"}, {"value": 2, "tag": "Gasolina"}, {"value": 5, "tag": "Ropa"}]'
  style="margin: 200px"
  height="400px"
  width="500px"
></my-component>

<!-- <smart-chart
  #chart
  id="chart"
  [caption]="caption"
  [description]="description"
  [showLegend]="showLegend"
  [padding]="padding"
  [titlePadding]="titlePadding"
  [dataSource]="dataSource"
  [colorScheme]="colorScheme"
  [xAxis]="xAxis"
  [valueAxis]="valueAxis"
  [seriesGroups]="seriesGroups"
></smart-chart> -->

<!-- <smart-accordion>
  <smart-accordion-item label="First Item">First Item Content.</smart-accordion-item>
  <smart-accordion-item label="Second Item">Second Item Content.</smart-accordion-item>
  <smart-accordion-item label="Third Item">Third Item Content.</smart-accordion-item>
  <smart-accordion-item label="Fourth Item">Fourth Item Content.</smart-accordion-item>
</smart-accordion> -->
